<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- PRODUCCION -->
		<add name="ApplicationServices_wsCloto" connectionString="DSN=ifxODBC64Prod" providerName="System.Data.Odbc"/>  
		<!-- PRUEBAS 
		<add name="ApplicationServices_wsCloto" connectionString="DSN=ifxOdbcPrueba" providerName="System.Data.Odbc"/> -->
	</connectionStrings>
	<appSettings>
		<add key="FormatoFecha" value="8"/>
		<!-- <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /> -->

	</appSettings>

	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MainBnd" closeTimeout="09:01:00" openTimeout="09:01:00" receiveTimeout="09:10:00" sendTimeout="09:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="wsClotoMainBnd">
					<serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceThrottling maxConcurrentSessions="90"/>
					<!-- <dataContractSerializer maxItemsInObjectGraph="2147483647" /> -->
				</behavior>
				<behavior>
					<serviceMetadata httpsGetEnabled="false" httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
			<add binding="basicHttpBinding" scheme="http"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="wsCloto.wsCloto" behaviorConfiguration="wsClotoMainBnd">
				<endpoint contract="wsCloto.IwsCloto" binding="basicHttpBinding" address="" bindingConfiguration="MainBnd" bindingName="MainBnd" name="MainBnd"/>
				<endpoint address="mex" binding="basicHttpBinding" bindingConfiguration="MainBnd" contract="IMetadataExchange" name="mexEndpoint"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
